{% extends "base.html" %} 
{% block content %} 

    {% if feedback %}
    <ul>
        {% for item in feedback %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <div><a href="/register">CLEAR</a></div>
    {% else %}

<h2>A Python/Flask Postback Form</h2>
<p>The following is a demonstration of a form that can be filled out and when data is entered, the data is submitted back to the same page so the data can be seen on the page.</p>
<p>Any form fields that have names with an underscore between significant words, such as <b>First_Name</b> 
      will be split into separate words, for example <b>First Name</b> upon submission.</p>  
  <form method="POST" action="" class="main-form">
    <div>
      <label for="FirstName">First Name</label><br>
      <input type="text" name="First_Name" id="FirstName" placeholder="First Name" required autofocus>
    </div>
    <div>
      <label for="LastName">Last Name</label><br>
      <input type="text" name="Last_Name" id="LastName" placeholder="Last Name" required autofocus>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
{% endif %}

{% endblock %}
